<settings>
  <proxies>
    <proxy>
          <active>true</active>
          <protocol>http</protocol>
          <host>192.168.11.17</host>
      <port>8080</port>
      <nonProxyHosts>localhost|127.0.0.1|172.20.55.227|172.20.55.46|172.17.0.5|172.30.136.81|nexus</nonProxyHosts>
    </proxy>
    <proxy>
          <active>true</active>
          <protocol>https</protocol>
          <host>192.168.11.17</host>
      <port>8080</port>
      <nonProxyHosts>localhost|127.0.0.1|172.20.55.227|172.20.55.46|172.17.0.5|172.30.136.81|nexus</nonProxyHosts>
    </proxy>
  </proxies>
  <servers>
     <server>
        <id>nexus</id>
        <username>deployment</username>
        <password>deployment123</password>
     </server>
  </servers>
  <mirrors>
    <mirror>
      <!--This sends everything else to /public -->
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://nexus:8081/content/groups/public/</url>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>nexus</id>
      <!--Enable snapshots for the built in central repo to direct -->
      <!--all requests to nexus via the mirror -->
      <repositories>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
     <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <!--make the profile active all the time -->
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
</settings>
